@use 'resets' as *;
@use 'variables' as *;
@use 'cards' as *;
@use 'responsive' as *;
@use 'mixins' as *;

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: $secondary-color-light-gray;
	font-family: $poppins;
	font-size: $fs-md;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
